<router-outlet></router-outlet>
@if (showWarning) {
      <div class="warning-message"> {{warningMessage}} </div>
  }
<div class="word-container">
  <app-loading-cube *ngIf="isLoading"></app-loading-cube>
  @if (isWon || isChanceCompleted) {
      <button (click)="newGame()">New Game</button>
  }
  <div *ngIf="word && !isLoading" class="word-display">
    @if(!isChanceCompleted){
      <h2 class="guess-prompt">Guess the word</h2>
    } @else{
      <div class="word-definition-container">
        <h2 class="word-title">Word: <span class="word-text">{{word}}</span></h2>
        <h3 class="definition-title">Definition:</h3>
        <p class="definition-text">{{definition}}</p>
      </div>
    }
    
    <div class="matrix-grid">
      <div *ngFor="let row of [0,1,2,3,4]; let i = index" class="matrix-row">
  <div *ngIf="isValidating && i === currentActiveRow" class="validation-loader">
    <div *ngFor="let col of [0,1,2,3,4]" class="loader-cell"></div>
  </div>
  <input *ngFor="let col of [0,1,2,3,4]; let j = index"
         type="text" 
         maxlength="1"
         class="matrix-cell"
         [class.hidden]="isValidating && i === currentActiveRow"
         [class.correct]="getLetterState(i, j) === 'correct'"
         [class.included]="getLetterState(i, j) === 'included'"
         [class.wrong]="getLetterState(i, j) === 'wrong'"
          [disabled]="shouldDisableCell(i, j)"
         [(ngModel)]="matrix[i][j]"
         (input)="onCellInput(i, j, $event)"
         (keydown)="onKeyDown(i, j, $event)"
         maxlength="1"
         appAlphabetOnly
         #cellInput>
</div>
    </div>
  </div>
</div>